<div id="player_for_sale" class="player-card">
<div class='center-pic'>
  <%= image_tag("http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/#{nominated_player.esbid}.png", class: "player-pic") %>
</div>
<div class='player-info'>
  <h3 class="card-info"><%= nominated_player.player_name %>,  <%= nominated_player.position %></h3>
  <div class="price">
    <div class="price-circle">
      <h4 class="card-info">Current Bid:
      <span id="current-bid">$<%= bid.amount %></span></h4>
    </div>
  </div>
  <h4 class="card-info"> Leading Bidder: <span id="leading-bidder"><%= bid.user.name %></span></h4>
</div>
</div>

<div class="graph" id="graph1">
  <i class="ion-ios-minus-outline  minimize" id="minimizegraph1"></i>
  <%= line_chart (@nominated_player.sales_hash),
        library: {colors: ["#00c87c", "#90ee7e"],
                  chart: {
                    backgroundColor: 'rgba(255, 255, 255, 0.0)',
                    width: '250',
                    padding: '10',
                    style: {
                      fontFamily: "'Unica One', sans-serif"
                    },
                  },
                  title: {
                    text: 'Auction $ Spent',
                    style: {
                    color: "#ff6560",
                    fontSize: '22px'
                  }
                }
              }
  %>
</div>

<div class="graph" id="graph2">
  <i class="ion-ios-minus-outline minimize" id="minimizegraph2"></i>
  <%= line_chart (@nominated_player.season_pts_hash),
        library: {colors: ["#ffcb5e", "#90ee7e"],
                  chart: {
                    backgroundColor: 'rgba(255, 255, 255, 0.0)',
                    width: '250',
                    style: {
                      fontFamily: "'Unica One', sans-serif"
                    },
                  },
                  title: {
                    text: 'Total Pts Scored',
                    style: {
                    color: "#ff6560",
                    fontSize: '22px'
                  }
                }
              }
  %>
</div>

<div class="graph" id="graph3">
  <i class="ion-ios-minus-outline  minimize" id="minimizegraph3"></i>
  <%= line_chart (@nominated_player.games_played_hash),
        library: {colors: ["#73629e", "#90ee7e"],
                  chart: {
                    backgroundColor: 'rgba(255, 255, 255, 0.0)',
                    width: '250',
                    style: {
                      fontFamily: "'Unica One', sans-serif"
                    },
                  },
                  title: {
                    text: 'Games Played',
                    style: {
                    color: "#ff6560",
                    fontSize: '22px'
                  }
                }
              }
  %>
</div>

<div class="graph" id="graph4">
  <i class="ion-ios-minus-outline  minimize" id="minimizegraph4"></i>
  <%= line_chart (@nominated_player.points_per_game_hash),
        library: {colors: ["#28d5dc", "#90ee7e"],
                  chart: {
                    backgroundColor: 'rgba(255, 255, 255, 0.0)',
                    width: '250',
                    style: {
                      fontFamily: "'Unica One', sans-serif"
                    },
                  },
                  title: {
                    text: 'Points/Game',
                    style: {
                    color: "#ff6560",
                    fontSize: '22px'
                  }
                }
              }
  %>
</div>

<div id="graph-shortcuts">
  <i class="icon ion-plus-circled min-graph" id="maxgraph1"></i>
  <i class="icon ion-plus-circled min-graph" id="maxgraph2"></i>
  <i class="icon ion-plus-circled min-graph" id="maxgraph3"></i>
  <i class="icon ion-plus-circled min-graph" id="maxgraph4"></i>
</div>
