<div id="player_for_sale" class="player-card">
  <div class='center-pic'>
    <%= image_tag("http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/#{nominated_player.esbid}.png", class: "player-pic") %>
  </div>
  <div class='player-info'>
    <h3 class="card-info"><%= nominated_player.player_name %>,  <%= nominated_player.position %></h3>
    <div class="price">
      <div class="price-circle">
        <h4 class="card-info">Current Bid:
        <span id="current-bid">$<%= bid.amount %></span></h4>
      </div>
    </div>
    <h4 class="card-info"> Leading Bidder:<br> <span id="leading-bidder"><%= bid.user.name %></span></h4>
  </div>
  <div class='money-left-section'>
    <% @users && @users.each do |user| %>
      <% if user.id != current_user.id  %>
        <div class="mini-money">
          <h4><p><%= user.make_acronym() %> -
          <span class="money-green" id="<%= 'other-user-money-' + user.id.to_s %>">$<%= user.money_remaining(@draft.year).to_s%></span> </p></h4>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<div class="bid-box">
  <% if !current_user.auctioneer %>
    <div id="bidding-form" >
      <%= render partial: 'bidding_form', locals: { bid: @bid, nominated_player: @nominated_player, draft: @draft, bids: @bids } %>
    </div>
  <% end %>
  <% if current_user.auctioneer %>
    <div class="auctioneer">
        <%= render partial: 'auctioneer_bidding_form', locals: { bid: @bid, nominated_player: @nominated_player, draft: @draft, bids: @bids, users: @users } %>
        <div id="sell_player">
          <%= render partial: 'sell_player', locals: { bid: @bids.first } %>
        </div>
        <div id="unnominate">
          <%= render partial: 'unnominate', locals: { draft: @draft } %>
        </div>
    </div>
  <% end %>
  <h3 class="heading-label"> Bid History: </h3>
  <ul id='bid-list' class="under-list">
    <% @bids.each do |bid| %>
      <%= render partial: 'bid', locals: { bid: bid } %>
    <% end %>
  </ul>
</div>

<% player_id = @nominated_player.id %>

<% video_url = "http://localhost:8000/#{player_id}.mp4"%>

<div class="highlight-box">
  <video width="855" height="484" autoplay muted controls>
    <source src=<%= video_url %> type="video/mp4">
  </video>
</div>

<% graph_data = @nominated_player.master_graphs_hash %>

<div class="graph" id="graph1">
  <i class="ion-ios-minus-outline  minimize" id="minimizegraph1"></i>
  <%= line_chart (graph_data[:sales]),
        library: {colors: ["#00c87c", "#90ee7e"],
                  chart: {
                    backgroundColor: 'rgba(255, 255, 255, 0.0)',
                    width: '435',
                    padding: '10',
                    style: {
                      fontFamily: "'Unica One', sans-serif"
                    },
                  },
                  title: {
                    text: 'Auction $ Spent',
                    style: {
                    color: "#ff6560",
                    fontSize: '22px'
                  }
                }
              }
  %>
</div>

<div class="graph" id="graph2">
  <i class="ion-ios-minus-outline minimize" id="minimizegraph2"></i>
  <%= line_chart (graph_data[:season_pts]),
        library: {colors: ["#ffcb5e", "#90ee7e"],
                  chart: {
                    backgroundColor: 'rgba(255, 255, 255, 0.0)',
                    width: '435',
                    style: {
                      fontFamily: "'Unica One', sans-serif"
                    },
                  },
                  title: {
                    text: 'Total Pts Scored',
                    style: {
                    color: "#ff6560",
                    fontSize: '22px'
                  }
                }
              }
  %>
</div>

<div class="graph" id="graph3">
  <i class="ion-ios-minus-outline  minimize" id="minimizegraph3"></i>
  <%= line_chart (graph_data[:games_played]),
        library: {colors: ["#73629e", "#90ee7e"],
                  chart: {
                    backgroundColor: 'rgba(255, 255, 255, 0.0)',
                    width: '435',
                    style: {
                      fontFamily: "'Unica One', sans-serif"
                    },
                  },
                  title: {
                    text: 'Games Played',
                    style: {
                    color: "#ff6560",
                    fontSize: '22px'
                  }
                }
              }
  %>
</div>

<div class="graph" id="graph4">
  <i class="ion-ios-minus-outline  minimize" id="minimizegraph4"></i>
  <%= line_chart (graph_data[:pts_per_game]),
        library: {colors: ["#28d5dc", "#90ee7e"],
                  chart: {
                    backgroundColor: 'rgba(255, 255, 255, 0.0)',
                    width: '435',
                    style: {
                      fontFamily: "'Unica One', sans-serif"
                    },
                  },
                  title: {
                    text: 'Points/Game',
                    style: {
                    color: "#ff6560",
                    fontSize: '22px'
                  }
                }
              }
  %>
</div>

<div id="graph-shortcuts">
  <i class="icon ion-arrow-graph-up-right min-graph" id="maxgraph4"></i>
  <i class="icon ion-arrow-graph-up-right min-graph" id="maxgraph3"></i>
  <i class="icon ion-arrow-graph-up-right min-graph" id="maxgraph2"></i>
  <i class="icon ion-arrow-graph-up-right min-graph" id="maxgraph1"></i>
</div>
