
<% if current_user.auctioneer %>
  <h3> You are the Auctioneer </h3>
<% end %>

<div class="box">
  <% @users.each do |user| %>
    <div class="user-box" >
      <p class="user-header"><%= user.name %> -
      <span class="user-money" id="<%= 'user-money-' + user.id.to_s %>">$<%= user.money_remaining(@draft.year).to_s%></span> </p>
    </div>
  <% end %>
</div>

<div class="box">
  <div id="switcher">
    <% if !@nominated_player %>
      <div id="nomination">
        <%= render partial: 'nomination', locals: { draft: @draft } %>
      </div>
    <% else %>
      <div class="box">

          <%= render partial: 'player_for_sale', locals: { nominated_player: @nominated_player, bid: @bids.first } %>

        <% if current_user.auctioneer %>
          <div class="auctioneer">

              <h3 class="heading-label">Auctioneer Actions:</h4>
              <div id="sell_player">
                <%= render partial: 'sell_player', locals: { bid: @bids.first } %>
              </div>
              <div id="unnominate">
                <%= render partial: 'unnominate', locals: { draft: @draft } %>
              </div>

          </div>
        <% end %>
      </div>
      <div class="box bid-box">
        <% if !current_user.auctioneer %>

          <div id="bidding-form" >
            <%= render partial: 'bidding_form', locals: { bid: @bid, nominated_player: @nominated_player, draft: @draft, bids: @bids } %>
          </div>

        <% end %>
        <h3 class="heading-label"> Bid History: </h3>
        <ul id='bid-list'>
          <% @bids.each do |bid| %>
            <%= render partial: 'bid', locals: { bid: bid } %>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>
</div>




<% if !current_user.auctioneer %>
  <div class="box" >
    <h3 class="heading-label">Your Team:</h3>
    <ol id="<%= 'team-' + current_user.id.to_s %>">
    <% current_user.drafted_players(@draft.year).each do |player| %>
      <%= render partial: 'player', locals: { player: player, draft: @draft  } %>
    <% end %>
    </ol>
  </div>
<% end %>







<div class="box">

  <h3 class="heading-label">Other Teams:</h3>

  <% @users.each do |user| %>

    <% if user.id != current_user.id  %>
    <div class="other-team" >
      <h4><%= user.name %></h4>
      <ol id="<%= 'team-' + user.id.to_s %>">
      <% user.drafted_players(@draft.year).each do |player| %>
        <%= render partial: 'player', locals: { player: player, draft: @draft } %>
      <% end %>
      </ol>
        </div>
    <% end %>

  <% end %>
</div>
