<h1>2017 Draft</h1>
<% if current_user.auctioneer %>
  <h3> You are the Auctioneer </h3>
<% end %>

<div class="box">

  <% @users.each do |user| %>
    <div class="user-box">
      <h5> <%= user.name %><br> $ <%= user.money_remaining(@draft.year).to_s%> </h5>
    </div>
  <% end %>
</div>



<% if !@nominated_player %>
  <div class="box">
    <h4>Being bid on: </h4>
    Waiting for nomination....
    <%= form_for @draft, :url => {:action=> "nominate", :method => :patch, :controller => "drafts"} do |f| %>
      <%= f.collection_select :nominated_player_id, Player.unsold(@draft.year), :id, :player_name %>
      <%= f.submit "Nominate Player" %>
    <% end %>


  </div>
<% else %>
  <div class="box">
    <div id="player_for_sale">
      <%= render partial: 'player_for_sale', locals: { nominated_player: @nominated_player, bid: @bids.first } %>
    </div>



    <% if current_user.auctioneer %>
      <div class="auctioneer">
        <h4>Auctioneer Actions</h4>
        <div id="sell_player">
          <%= render partial: 'sell_player', locals: { bid: @bids.first } %>
        </div>


        <%= form_for @draft, :url => {:action=> "unnominate", :method => :patch, :controller => "drafts"} do |f| %>
          <%= f.submit "Cancel Auction" %>
        <% end %>
      </div>
    <% end %>





  </div>


<% if !current_user.auctioneer %>
  <div class="box">
    <%= form_for @bid, remote: true  do |f| %>
      <%= f.hidden_field :player_id, value: @nominated_player.id %>
      <%= f.hidden_field :draft_id, value: @draft.id %>
      <%= f.hidden_field :winning, value: false %>
      $ <%= f.number_field :amount, value: @bids.first.amount + 1 %>
      <%= f.submit %>
    <% end %>

<% end %>
  </div>

  <div class="box">
    <h3> Bid History: </h3>
    <ul id='bid-list'>
      <% @bids.each do |bid| %>
        <%= render partial: 'bid', locals: { bid: bid } %>
      <% end %>
    </ul>
  </div>
<% end %>








<% if !current_user.auctioneer %>
  <div class="box">
    <h3>Your Team</h3>
    <ol>
    <% current_user.drafted_players(@draft.year).each do |player| %>
      <li><%= player[:player].player_name %>, $<%= player[:amount] %></li>
    <% end %>
    </ol>
  </div>
<% end %>














<div class="box">
  <h3>Other Teams</h3>

  <% @users.each do |user| %>
    <div class="other-team">
    <% if user.id != current_user.id  %>

      <h4><%= user.name %></h4>
      <ol>
      <% user.drafted_players(@draft.year).each do |player| %>
        <li><%= player[:player].player_name %>,
            $<%= player[:amount] %>

            <% if current_user.auctioneer %>

              <%= form_for @draft, :url => {:action=> "undo_drafting", :method => :patch, :controller => "drafts"} do |f| %>
              <%= f.hidden_field :year, value: @draft.year %>
                <%= f.hidden_field :player_id, value: player[:player].id %>
                <%= f.submit "Undo Drafting" %>
              <% end %>
            <% end %>

        </li>
      <% end %>
      </ol>
    <% end %>
  </div>
  <% end %>
</div>
