<h1>2017 Draft</h1>
<h3>Draft Status: Open! </h3>

<% if current_user.auctioneer %>
  <h3> You are the Auctioneer </h3>
<% end %>

<div class="box">
  <h4>Users Drafting: </h4>
  <% @users.each do |user| %>
  <h5> <%= user.name + " has $" + user.money_remaining(@draft.year).to_s + " remaining" %> </h5>
  <% end %>
</div>

<div class="zone">
  <%= render 'bidding_zone' %>
</div>

<% if !current_user.auctioneer %>
  <div class="box">
    <h3>Your Team</h3>
    <ol>
    <% current_user.drafted_players(@draft.year).each do |player| %>
      <li><%= player[:player].player_name %>, $<%= player[:amount] %></li>
    <% end %>
    </ol>
  </div>
<% end %>

<div class="box">
  <h3>Other Teams</h3>

  <% @users.each do |user| %>
    <% if user.id != current_user.id  %>

      <h4><%= user.name %></h4>
      <ol>
      <% user.drafted_players(@draft.year).each do |player| %>
        <li><%= player[:player].player_name %>,
            $<%= player[:amount] %>

            <% if current_user.auctioneer %>

              <%= form_for @draft, :url => {:action=> "undo_drafting", :method => :patch, :controller => "drafts"} do |f| %>
              <%= f.hidden_field :year, value: @draft.year %>
                <%= f.hidden_field :player_id, value: player[:player].id %>
                <%= f.submit "Undo Drafting" %>
              <% end %>
            <% end %>

        </li>
      <% end %>
      </ol>
    <% end %>
  <% end %>
</div>
