<!DOCTYPE html>
<html>
  <head>
    <title>Auction</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%= current_user && current_user.auctioneer? ? "with-admin" : "without-admin" %>">

    <header>
      <h3 class="logo-header">
        <i class="icon ion-ios-americanfootball-outline"></i>
          Fantasy Auction
      </h3>
      <nav>
        <span id="menu-icon"></span>
        <ul class="nav-list">
          <li class="nav-list-item"><a href="#">My Profile</a></li>
          <li class="nav-list-item"><a href="#">Players</a></li>
          <% if user_signed_in? %>
            <li class="nav-list-item">
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </li>
          <% else %>
            <li class="nav-list-item">
              <%= link_to('Login', new_user_session_path)  %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>


    <div class="remainder">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>" id="flash">
          <%= message %>
        </div>
      <% end %>

    <%= yield %>

    </div>
  </body>
</html>
