<!DOCTYPE html>
<html>
  <head>
    <title>Auction</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%= current_user && current_user.auctioneer? ? "with-admin" : "without-admin" %>">

    <div class="topnav" id="myTopnav">
      <%= link_to(root_path, class: 'subnav')  do %>
        <i class="icon ion-ios-americanfootball-outline nav-icon-main"> </i>
        Fantasy Auction
      <% end %>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: 'subnav' do%>
        <i class="icon ion-log-out nav-icon"> </i>
          Logout
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path, class: 'subnav')  do %>
         <i class="icon ion-log-in nav-icon">
        <% end %>
      <% end %>
      <%= link_to(drafts_path, class: 'subnav')  do %>
        <i class="icon ion-social-usd nav-icon"> </i>
        Drafts
      <% end %>
      <%= link_to(players_path, class: 'subnav')  do %>
        <i class="icon ion-ios-people nav-icon"> </i>
        Players
      <% end %>
      <%= link_to(current_user, class: 'subnav')  do %>
        <i class="icon ion-ios-body nav-icon"> </i>
        My Profile
      <% end %>
      <a href="javascript:void(0);" class="iconx">&#9776;</a>
    </div>


    <div class="remainder">

      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>" id="flash">
          <%= message %>
        </div>
      <% end %>

    <%= yield %>

    </div>
  </body>
</html>
